<div class="relative w-full">
  <div
    class="absolute inset-0 rounded-md ring-4 pointer-events-none"
    [ngClass]="{
      'pulse-fast ring-red-500': pulse(),
      'ring-cyan-500/40': !pulse()
    }"
  ></div>

  <div
    class="relative p-1 w-full rounded-md shadow-lg shadow-cyan-500/50 bg-gradient-to-tl"
    [ngClass]="{
      'bg-red-950': pulse(),
      'to-[#191e40] from-[#0c1220]': !pulse(),
    }"
  >
    <h2 class="text-2xl text-cyan-200 font-bold px-4 mb-1">{{ titleCard }}</h2>

    @if (alert() == true && pulse() == false) {
      <div class="w-full h-16 fornoOrange"></div>
    } @else if (pulse() == true ) {
      <div class="w-full h-16 fornoRed"></div>
    } @else if (active()) {
      <div class="w-full h-16 fornoGreen"></div>
    } @else {
      <div class="w-full h-16 fornoGray"></div>
    }
    <div class="flex flex-col">
      <app-progress-bar
        [title]="'Purity'"
        [goal]="purityGoal"
        [current]="purityCurrent"
        class="text-cyan-50 "
      />
      <app-progress-bar
        [title]="'Pressure'"
        [goal]="pressureGoal"
        [current]="pressureCurrent"
        class="text-cyan-50 "
      />
      <app-progress-bar
        [title]="'Flow'"
        [goal]="flowGoal"
        [current]="flowCurrent"
        class="text-cyan-50 "
      />
    </div>
  </div>
</div>
