<div class="p-4 bg-gradient-to-tl to-[#212854] from-[#0e1524] h-screen overflow-hidden flex flex-col gap-4 ">

  <h2 class="title">Nitrogen Entry into the System</h2>
  <div class="grid grid-cols-4 gap-5">
    <app-metric-indicator [title]="'Pressure'" [metric]="'1.5 ppm'"/>
    <app-metric-indicator [title]="'Flow'" [metric]="'132 m/s'" [alert]="true"/>
    <app-metric-indicator [title]="'Purity'" [metric]="'1.5 ppm'"/>
    <app-metric-indicator [title]="'Temperature'" [metric]="'15°'" />
  </div>

  <div class="grid grid-cols-4 gap-5">
    <app-metric-chart />
    <app-metric-chart />
    <app-metric-chart />
    <app-metric-chart />
  </div>

  <h2 class="title">Nitrogen Consumption in the Oven</h2>
  
  <div class="grid grid-cols-5 gap-4 ">
    <app-card-line
      [titleCard]="'Jari'"

      [purityCurrent]="1500"
      [purityGoal]="3000"

      [pressureCurrent]="800"
      [pressureGoal]="2000"

      [flowCurrent]="1700"
      [flowGoal]="2500"
    />
    <app-card-line
      [titleCard]="'Jutai'"
      [purityCurrent]="2600"
      [purityGoal]="3000"

      [pressureCurrent]="800"
      [pressureGoal]="2000"

      [flowCurrent]="1700"
      [flowGoal]="2500"
    />
    <app-card-line
      [titleCard]="'Xingu'"

      [purityCurrent]="1500"
      [purityGoal]="3000"

      [pressureGoal]="800"
      [pressureCurrent]="2000"

      [flowCurrent]="1700"
      [flowGoal]="2500"
    />
    <app-card-line
      [titleCard]="'Negro'"
      [purityCurrent]="2000"
      [purityGoal]="3000"

      [pressureCurrent]="800"
      [pressureGoal]="2000"

      [flowCurrent]="1700"
      [flowGoal]="2500"
    />
    <app-card-line
      [titleCard]="'Line 2'"
      [purityCurrent]="0"
      [purityGoal]="3000"

      [pressureCurrent]="0"
      [pressureGoal]="2000"

      [flowCurrent]="0"
      [flowGoal]="2500"
    />

  </div>

</div>



<router-outlet />
