@import 'tailwindcss';

.title {
  @apply py-2 my-5 text-gray-50 text-4xl font-bold text-shadow-black/90 text-shadow-md
}


.background {
  position: relative;
  z-index: 0;
  
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/background2.png');


  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}


@keyframes flutuar {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

@keyframes brilhar {

  0%,
  100% {
    /* box-shadow: 0 0 10px #ff150088, 0 0 20px #ff590066, 0 0 40px #ff660044; */
    filter: drop-shadow(0 0 5px #21B2FC);
  }

  50% {
    /* box-shadow: 0 0 20px #ff0000cc, 0 0 40px #ff0000aa, 0 0 60px #ff000088; */
    filter: drop-shadow(0 0 10px #21B2FC);
  }
}

.lux {
  animation: flutuar 4s ease-in-out infinite, brilhar 2s ease-in-out infinite;
}


/* barra de rolar */
  /* Estiliza a scrollbar */
  .custom-scroll::-webkit-scrollbar {
    width: 8px; /* largura da barra */
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: transparent; /* fundo da trilha */
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #054C85; /* azul Tailwind 500 */
    border-radius: 9999px;     /* totalmente arredondado */
    border: 1px solid transparent;
    background-clip: content-box;
    width: 20px;
  }

  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #2563eb; /* azul Tailwind 600 */
  }
/* barra de rolar */


@layer utilities {
  @keyframes borda-luz {
    0% {
      box-shadow: 0 0 0px #21B2FC;
    }
    50% {
      box-shadow: 0 0 15px #21B2FC;
    }
    100% {
      box-shadow: 0 0 0px #21B2FC;
    }
  }

  .animate-borda-luz {
    animation: borda-luz 2s infinite ease-in-out;
    box-shadow: 0 0 10px #21B2FC40, 0 0 20px #21B2FC40 inset;
    border-radius: 0.375rem; /* rounded-md */
    pointer-events: none;
  }
}
