<svg
  [attr.width]="width + 70"
  [attr.height]="height + 50"
  [attr.viewBox]="'-50 -30 ' + (width + 70) + ' ' + (height + 70)"

  preserveAspectRatio="xMidYMid meet"
  class="w-full h-auto text-white"
>
  <!-- Grade de fundo -->
  <g stroke="#4B5563" stroke-opacity="0.3" stroke-width="1">
    <!-- Linhas horizontais (Y) -->
    <line
      *ngFor="let y of yLines; trackBy: trackByIndex"
      x1="0"
      [attr.y1]="y"
      [attr.x2]="width"
      [attr.y2]="y"
    />
    <!-- Linhas verticais (X) -->
    <line
      *ngFor="let x of xLines; trackBy: trackByIndex"
      [attr.x1]="x"
      y1="0"
      [attr.x2]="x"
      [attr.y2]="height"
    />
  </g>

  <!-- Linha curva -->
  <path
    [attr.d]="curveLine"
    fill="none"
    stroke="#10B981"
    stroke-width="3"
    stroke-linecap="round"
    stroke-linejoin="round"
  />

  <!-- Linha mínima -->
  <line
    [attr.x1]="0"
    [attr.x2]="width"
    [attr.y1]="yMin"
    [attr.y2]="yMin"
    stroke="#EF4444"
    stroke-width="2"
    stroke-dasharray="4"
  />
  <text x="4" [attr.y]="yMin - 4" font-size="16" fill="#F87171">Min: {{ minValue }}</text>

  <!-- Linha máxima -->
  <line
    [attr.x1]="0"
    [attr.x2]="width"
    [attr.y1]="yMax"
    [attr.y2]="yMax"
    stroke="#22C55E"
    stroke-width="2"
    stroke-dasharray="4"
  />
  <text x="4" [attr.y]="yMax - 4" font-size="16" fill="#34D399">Max: {{ maxValue }}</text>


  <!-- Legendas do eixo Y (fora da grade, à esquerda) -->
  <g *ngIf="yLabels.length > 0" font-size="12" fill="#E5E7EB">
    <text
      *ngFor="let label of yLabels; let i = index; trackBy: trackByIndex"
      x="-10"
      [attr.y]="height - (i * (height / (yLabels.length - 1))) + 4"
      text-anchor="end"
    >
      {{ label }}
    </text>
  </g>

  <g>
    <rect
      [attr.x]="width - 43"
      [attr.y]="-6"
      width="50"
      height="24"
      rx="6"
      ry="6"
      fill="#fff"
    ></rect>

    <text
      [attr.x]="width - 10"
      [attr.y]="12"
      text-anchor="end"
      font-size="18"
      fill="#0D1324"
      font-weight="bold"

    >
      {{ current }}
    </text>
  </g>


  <!-- Legendas do eixo X (fora da grade, abaixo) -->
  <g *ngIf="xLabels.length > 0" font-size="12" fill="#E5E7EB">
    <text
      *ngFor="let label of xLabels; let i = index; trackBy: trackByIndex"
      [attr.x]="i * (width / (xLabels.length - 1))"
      [attr.y]="height + 20"
      text-anchor="middle"
    >
      {{ label }}
    </text>
  </g>
</svg>
